{% extends 'base.html.twig' %}

{% block title %}New Bets{% endblock %}

{% block body %}
    <h1>Create new Bets</h1>

    {{ include('bets/_form.html.twig') }}

    <a href="{{ path('app_bets_index') }}">back to list</a>
{% endblock %}
